.infocard {
  background: rgba(255, 255, 255, 0.55); /* stronger */
  border-radius: 50px;
  padding: 15px;
  margin: 20px 0;
  border: 2px solid rgba(255, 255, 255, 0.904);
  
  transition: transform 0.35s ease, box-shadow 0.35s ease;

  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.18);
  -webkit-backdrop-filter: blur(42px);
}

.infocard:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.4);
}